[Desktop Entry]
Name=Network Neighborhood
Name[bs]=Mrežno sisjedstvo
Name[ca]=Veïnatge de xarxa
Name[ca@valencia]=Veïnatge de xarxa
Name[cs]=Síťové okolí
Name[da]=Netværksnabolag
Name[de]=Netzwerkumgebung
Name[el]=Περιοχή δικτύου
Name[en_GB]=Network Neighbourhood
Name[es]=Entorno de red
Name[et]=Võrgunaabrus
Name[fi]=Verkkoympäristö
Name[fr]=Voisinage réseau
Name[gl]=Veciñanza de rede
Name[hu]=Hálózati mappa
Name[it]=Risorse di rete
Name[ko]=네트워크 환경
Name[nds]=Nettwarkümgeven
Name[nl]=Netwerkomgeving
Name[pl]=Otoczenie sieciowe
Name[pt]=Vizinhança na Rede
Name[pt_BR]=Vizinhança na rede
Name[ru]=Сетевое окружение
Name[sk]=Moje blízke okolie
Name[sv]=Nätverksgrannskap
Name[tr]=Ağ Komşuları
Name[uk]=Мережеве оточення
Name[x-test]=xxNetwork Neighborhoodxx
Name[zh_CN]=网络邻居
Name[zh_TW]=網路芳鄰
Comment=Network neighborhood browser based on Smb4K
Comment[bs]=Pregledač mrežnog susjedstva baziran na Smb4K
Comment[ca]=Explorador del veïnatge de xarxa basat en el Smb4K
Comment[ca@valencia]=Explorador del veïnatge de xarxa basat en el Smb4K
Comment[cs]=Prohlížeč síťového okolí založený na Smb4K
Comment[da]=Browser til netværksnabolag baseret på Smb4K
Comment[de]=Erweiterter Browser für die Netzwerkumgebung auf der Basis von Smb4K
Comment[el]=Περιηγητής περιοχής δικτύου με βάση το Smb4K
Comment[en_GB]=Network neighbourhood browser based on Smb4K
Comment[es]=Navegador de entorno de red basado en Smb4K
Comment[et]=Võrgunaabruse sirvija Smb4K põhjal
Comment[fi]=Smb4K:hon pohjautuva verkkoympäristöselain
Comment[fr]=Explorateur de voisinage réseau conçu à partir de Smb4K
Comment[gl]=Navegador da veciñanza de rede baseado en Smb4K.
Comment[hu]=Smb4K alapú hálózati mappa böngésző
Comment[it]=Navigatore delle risorse di rete basato su Smb4K
Comment[ko]=Smb4K 기반 네트워크 환경 탐색기
Comment[nds]=Nettwarkümgeven-Kieker, de op Smb4K opbuut
Comment[nl]=Browser gebaseerd op smb4k voor de netwerkomgeving
Comment[pl]=Przeglądarka otoczenia sieciowego oparta na Smb4K
Comment[pt]=Navegador da vizinhança da rede baseado no Smb4K
Comment[pt_BR]=Navegador da vizinhança da rede baseado no Smb4K
Comment[ru]=Диспетчер сетевого окружения на основе Smb4K
Comment[sk]=Prehliadať sieťového okolia založený na Smb4K
Comment[sv]=Bläddrare för nätverksgrannskapet baserad på Smb4K
Comment[tr]=Smb4K tabanlı ağ komşuları tarayıcısı
Comment[uk]=Переглядач мережевого середовища на основі Smb4K
Comment[x-test]=xxNetwork neighborhood browser based on Smb4Kxx
Comment[zh_CN]=基于 smb4k 的网络邻居浏览器
Comment[zh_TW]=網路

Icon=smb4k
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Alexander Reinholdt
X-KDE-PluginInfo-Email=alexander.reinholdt@kdemail.net
X-KDE-PluginInfo-Name=smb4kqml
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=org.kde.smb4kqml

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
X-Plasma-DefaultSize=200,300
