[Desktop Entry]
Name=Network Neighborhood
Name[bs]=Mrežno sisjedstvo
Name[ca]=Veïnatge de xarxa
Name[cs]=Síťové okolí
Name[da]=Netværksnabolag
Name[de]=Netzwerkumgebung
Name[es]=Entorno de red
Name[fr]=Voisinage réseau
Name[hu]=Hálózati mappa
Name[ko]=네트워크 환경
Name[nl]=Netwerkomgeving
Name[pl]=Otoczenie sieciowe
Name[pt]=Vizinhança na Rede
Name[pt_BR]=Vizinhança na rede
Name[sk]=Moje blízke okolie
Name[sv]=Nätverksgrannskap
Name[uk]=Мережеве оточення
Name[x-test]=xxNetwork Neighborhoodxx
Comment=Network neighborhood browser based on Smb4K
Comment[bs]=Pregledač mrežnog susjedstva baziran na Smb4K
Comment[ca]=Explorador de veïnatge de xarxa basat en el Smb4K
Comment[cs]=Prohlížeč síťového okolí založený na Smb4K
Comment[da]=Browser til netværksnabolag baseret på Smb4K
Comment[de]=Erweiterter Browser für die Netzwerkumgebung auf der Basis von Smb4K
Comment[es]=Explorador de entorno de red basado en Smb4K
Comment[fr]=Explorateur de voisinage réseau conçu à partir de Smb4K
Comment[hu]=Smb4K alapú hálózati mappa böngésző
Comment[ko]=Smb4K 기반 네트워크 환경 탐색기
Comment[nl]=Browser gebaseerd op smb4k voor de netwerkomgeving
Comment[pl]=Przeglądarka otoczenia sieciowego oparta na Smb4K
Comment[pt]=Navegador da vizinhança da rede baseado no Smb4K
Comment[pt_BR]=Navegador da vizinhança da rede baseado no Smb4K
Comment[sk]=Prehliadať sieťového okolia založený na Smb4K
Comment[sv]=Bläddrare för nätverksgrannskapet baserad på Smb4K
Comment[uk]=Переглядач мережевого середовища на основі Smb4K
Comment[x-test]=xxNetwork neighborhood browser based on Smb4Kxx
Icon=smb4k

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=300,200

X-KDE-PluginInfo-Author=Alexander Reinholdt
X-KDE-PluginInfo-Email=alexander.reinholdt@kdemail.net
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Name=org.kde.smb4k-qml
X-KDE-PluginInfo-Version=0.1

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
Type=Service
