[Desktop Entry]
Name=Network Neighborhood
Name[cs]=Síťové okolí
Name[de]=Netzwerkumgebung
Name[es]=Entorno de red
Name[nl]=Netwerkomgeving
Name[pt]=Vizinhança na Rede
Name[pt_BR]=Vizinhança na rede
Name[sv]=Nätverksgrannskap
Name[uk]=Мережеве оточення
Name[x-test]=xxNetwork Neighborhoodxx
Comment=Network neighborhood browser based on Smb4K
Comment[cs]=Prohlížeč síťového okolí založený na Smb4K
Comment[de]=Erweiterter Browser für die Netzwerkumgebung auf der Basis von Smb4K
Comment[es]=Explorador de entorno de red basado en Smb4K
Comment[nl]=Browser gebaseerd op smb4k voor de netwerkomgeving
Comment[pt]=Navegador da vizinhança da rede baseado no Smb4K
Comment[pt_BR]=Navegador da vizinhança da rede baseado no Smb4K
Comment[sv]=Bläddrare för nätverksgrannskapet baserad på Smb4K
Comment[uk]=Переглядач мережевого середовища на основі Smb4K
Comment[x-test]=xxNetwork neighborhood browser based on Smb4Kxx
Icon=smb4k

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=300,200

X-KDE-PluginInfo-Author=Alexander Reinholdt
X-KDE-PluginInfo-Email=alexander.reinholdt@kdemail.net
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Name=org.kde.smb4k-qml
X-KDE-PluginInfo-Version=0.1

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
Type=Service
