[Desktop Entry]
Name=Network Neighborhood
Name[cs]=Síťové okolí
Name[da]=Netværksnabolag
Name[de]=Netzwerkumgebung
Name[en_GB]=Network Neighbourhood
Name[es]=Entorno de red
Name[et]=Võrgunaabrus
Name[hu]=Hálózati mappa
Name[km]=បណ្ដាញ​ជិត​គ្នា
Name[lt]=Tinklo kaimynai
Name[nl]=Netwerkomgeving
Name[pa]=ਨੈੱਟਵਰਕ ਗੁਆਂਢ
Name[pl]=Otoczenie sieciowe
Name[pt]=Vizinhança na Rede
Name[pt_BR]=Vizinhança na Rede
Name[sr]=Мрежно суседство
Name[sr@ijekavian]=Мрежно суседство
Name[sr@ijekavianlatin]=Mrežno susedstvo
Name[sr@latin]=Mrežno susedstvo
Name[sv]=Nätverksgrannskap
Name[tr]=Ağ Komşuları
Name[uk]=Мережеве оточення
Name[x-test]=xxNetwork Neighborhoodxx
Comment=Network neighborhood browser based on Smb4K
Comment[cs]=Prohlížeč síťového okolí založený na Smb4K
Comment[da]=Browser til netværksnabolag baseret på Smb4K
Comment[et]=Võrgunaabruse sirvija Smb4K põhjal
Comment[hu]=Az Smb4K-n alapuló hálózati mappa böngésző
Comment[km]=កម្មវិធី​រុក​រក​បណ្ដាញ​ក្បែរ​គ្នា​មាន​មូលដ្ឋាន​លើ Smb4K
Comment[nl]=Browser gebaseerd op smb4k voor de netwerkomgeving
Comment[pl]=Przeglądarka otoczenia sieciowego oparta na Smb4K
Comment[pt]=Navegador da vizinhança da rede baseado no Smb4K
Comment[pt_BR]=Navegador da vizinhança da rede baseado no Smb4K
Comment[sr]=Прегледач мрежног суседства на основу Смб4к‑а
Comment[sr@ijekavian]=Прегледач мрежног суседства на основу Смб4к‑а
Comment[sr@ijekavianlatin]=Pregledač mrežnog susedstva na osnovu Smb4k‑a
Comment[sr@latin]=Pregledač mrežnog susedstva na osnovu Smb4k‑a
Comment[sv]=Bläddrare för nätverksgrannskapet baserad på Smb4K
Comment[uk]=Переглядач мережевого середовища на основі Smb4K
Comment[x-test]=xxNetwork neighborhood browser based on Smb4Kxx
Icon=smb4k

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=300,200

X-KDE-PluginInfo-Author=Alexander Reinholdt
X-KDE-PluginInfo-Email=alexander.reinholdt@kdemail.net
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Name=org.kde.smb4k-qml
X-KDE-PluginInfo-Version=0.1

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
Type=Service
