[Desktop Entry]
Icon=smb4k
Name=Network Neighborhood
Name[da]=Netværksnabolag
Name[de]=Netzwerkumgebung
Name[en_GB]=Network Neighbourhood
Name[es]=Entorno de red
Name[et]=Võrgunaabrus
Name[km]=បណ្ដាញ​ជិត​គ្នា
Name[nl]=Netwerkomgeving
Name[pa]=ਨੈੱਟਵਰਕ ਗੁਆਂਢ
Name[pl]=Otoczenie sieciowe
Name[pt]=Vizinhança na Rede
Name[pt_BR]=Vizinhança na Rede
Name[sv]=Nätverksgrannskap
Name[tr]=Ağ Komşuları
Name[uk]=Мережеве оточення
Name[x-test]=xxNetwork Neighborhoodxx
X-Open=false
Type=Link
URL=smb4k:/
