[Desktop Entry]
Icon=smb4k
Name=Network Neighborhood
Name[da]=Netværksnabolag
Name[de]=Netzwerkumgebung
Name[en_GB]=Network Neighbourhood
Name[km]=ភាព​ជិតខាង​របស់​បណ្ដាញ
Name[pa]=ਨੈੱਟਵਰਕ ਗੁਆਂਢ
Name[pt]=Vizinhança na Rede
Name[pt_BR]=Vizinhança na Rede
Name[sv]=Nätverksgrannskap
Name[tr]=Ağ Komşuları
Name[uk]=Мережеве оточення
Name[x-test]=xxNetwork Neighborhoodxx
Open=false
Type=Link
URL=smb4k:/
