# KDE Config File
[Desktop Entry]
Name=Smb4K
Name[bs]=Smb4K
Name[ca]=Smb4K
Name[ca@valencia]=Smb4K
Name[cs]=Smb4K
Name[da]=Smb4K
Name[de]=Smb4K
Name[el]=Smb4K
Name[en_GB]=Smb4K
Name[es]=Smb4K
Name[et]=Smb4K
Name[eu]=Smb4K
Name[fi]=Smb4K
Name[fr]=Smb4K
Name[gl]=Smb4K
Name[hu]=Smb4K
Name[ia]=SMB4K
Name[it]=Smb4K
Name[ko]=Smb4K
Name[lt]=Smb4K
Name[nds]=Smb4K
Name[nl]=Smb4K
Name[pl]=Smb4K
Name[pt]=Smb4K
Name[pt_BR]=Smb4K
Name[ro]=Smb4K
Name[ru]=Smb4K
Name[sk]=Smb4K
Name[sl]=Smb4K
Name[sv]=Smb4K
Name[tr]=Smb4K
Name[uk]=Smb4K
Name[x-test]=xxSmb4Kxx
Name[zh_CN]=Smb4K
Name[zh_TW]=Smb4K
GenericName=Advanced Network Browser for SAMBA
GenericName[ca]=Explorador de xarxa avançat per a SAMBA
GenericName[ca@valencia]=Explorador de xarxa avançat per a SAMBA
GenericName[cs]=Pokročilý prohlížeč síťového okolí pro SAMBA
GenericName[de]=Erweiterter Netzwerk-Browser für SAMBA
GenericName[el]=Προηγμένος περιηγητής δικτύου για τη SAMBA
GenericName[en_GB]=Advanced Network Browser for SAMBA
GenericName[es]=Navegador de red avanzado para SAMBA
GenericName[et]=Täiustatud SAMBA ressursside sirvija
GenericName[eu]=SAMBA arakatzeko sareko arakatzaile aurreratua
GenericName[fi]=Kehittynyt verkkoympäristöselain Samballe
GenericName[fr]=Explorateur de réseau avancé pour SAMBA
GenericName[it]=Navigatore avanzato di rete per SAMBA
GenericName[ko]=고급 Samba 네트워크 환경 탐색기
GenericName[nl]=Geavanceerde netwerkbrowser voor SAMBA
GenericName[pl]=Rozbudowana przeglądarka sieciowa SAMBY
GenericName[pt]=Navegador Avançado da Rede SAMBA
GenericName[pt_BR]=Navegador avançado de rede para o SAMBA
GenericName[sk]=Pokročilý sieťový prehliadač pre SAMBA
GenericName[sl]=Napredni brskalnik omrežja SAMBA
GenericName[sv]=Avancerad nätverksbläddrare för SAMBA
GenericName[uk]=Переглядач SAMBA з додатковими можливостями
GenericName[x-test]=xxAdvanced Network Browser for SAMBAxx
Comment=Advanced Network Neighborhood Browser
Comment[bs]=Napredni pregledač mrežnog susjedstva
Comment[ca]=Explorador avançat del veïnatge de xarxa
Comment[ca@valencia]=Explorador avançat del veïnatge de xarxa
Comment[cs]=Pokročilý prohlížeč síťového okolí
Comment[da]=Den avancerede browser til netværksnabolag
Comment[de]=Erweiterter Browser für die Netzwerkumgebung
Comment[el]=Προηγμένος περιηγητής τοπικού δικτύου
Comment[en_GB]=Advanced Network Neighbourhood Browser
Comment[es]=Navegador de entorno de red avanzado
Comment[et]=Täiustatud võrgunaabruse sirvija
Comment[eu]=Sareko auzo-arakatzaile aurreratua
Comment[fi]=Kehittynyt verkkoympäristöselain
Comment[fr]=Explorateur avancé de voisinage réseau
Comment[gl]=Navegador avanzado da veciñanza de rede
Comment[hu]=Speciális hálózati mappa böngésző
Comment[ia]=Navigator de vicinitate de rete avantiate
Comment[it]=Navigatore avanzato delle risorse di rete
Comment[ko]=고급 네트워크 환경 탐색기
Comment[nds]=Verwiedert Nettwarkümgeven-Kieker
Comment[nl]=Geavanceerde browser voor de netwerkomgeving
Comment[pl]=Przeglądarka otoczenia sieciowego
Comment[pt]=Navegador Avançado da Vizinhança da Rede
Comment[pt_BR]=Navegador avançado da vizinhança da rede
Comment[ru]=Диспетчер сетевого окружения
Comment[sk]=Pokročilý prehliadač sieťového okolia
Comment[sl]=Napredni brskalnik sosedstva omrežja
Comment[sv]=Avancerad bläddrare för nätverksgrannskapet
Comment[tr]=Gelişmiş Ağ Komşuları Tarayıcı
Comment[uk]=Переглядач мережевого оточення з додатковими можливостями
Comment[x-test]=xxAdvanced Network Neighborhood Browserxx
Comment[zh_CN]=高级网上邻居浏览器
Comment[zh_TW]=進階網路芳鄰瀏覽器
Exec=smb4k
Icon=smb4k
X-DocPath=smb4k/index.html
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
X-DBUS-ServiceName=org.kde.smb4k
