# KDE Config File
[Desktop Entry]
Name=Smb4K
GenericName=Advanced Network Neighborhood Browser
Comment=Advanced Network Neighborhood Browser
Exec=smb4k
Icon=smb4k
X-DocPath=smb4k/index.html
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
X-DBUS-ServiceName=de.berlios.smb4k
