# KDE Config File
[Desktop Entry]
Name=Smb4K
Name[bs]=Smb4K
Name[ca]=Smb4K
Name[cs]=Smb4K
Name[da]=Smb4K
Name[de]=Smb4K
Name[en_GB]=Smb4K
Name[es]=Smb4K
Name[et]=Smb4K
Name[fr]=Smb4K
Name[hu]=Smb4K
Name[it]=Smb4K
Name[ko]=Smb4K
Name[lt]=Smb4K
Name[nds]=Smb4K
Name[nl]=Smb4K
Name[pl]=Smb4K
Name[pt]=Smb4K
Name[pt_BR]=Smb4K
Name[sk]=Smb4K
Name[sv]=Smb4K
Name[tr]=Smb4K
Name[uk]=Smb4K
Name[x-test]=xxSmb4Kxx
Name[zh_TW]=Smb4K
GenericName=Advanced Network Neighborhood Browser
GenericName[bs]=Napredni pregledač mrežnog susjedstva
GenericName[ca]=Explorador avançat de veïnatge de xarxa
GenericName[cs]=Pokročilý prohlížeč síťového okolí
GenericName[da]=Den avancerede browser til netværksnabolag
GenericName[de]=Erweiterter Browser für die Netzwerkumgebung
GenericName[en_GB]=Advanced Network Neighborhood Browser
GenericName[es]=Explorador de entorno de red avanzado
GenericName[et]=Täiustatud võrgunaabruse sirvija
GenericName[fr]=Explorateur avancé de voisinage réseau
GenericName[hu]=Speciális hálózati mappa böngésző
GenericName[it]=Navigatore avanzato delle risorse di rete
GenericName[ko]=고급 네트워크 환경 탐색기
GenericName[nds]=Verwiedert Nettwarkümgeven-Kieker
GenericName[nl]=Geavanceerde browser voor de netwerkomgeving
GenericName[pl]=Przeglądarka otoczenia sieciowego
GenericName[pt]=Navegador Avançado da Vizinhança da Rede
GenericName[pt_BR]=Navegador avançado da vizinhança da rede
GenericName[sk]=Pokročilý prehliadač sieťového okolia
GenericName[sv]=Avancerad bläddrare för nätverksgrannskapet
GenericName[tr]=Gelişmiş Ağ Komşuları Tarayıcı
GenericName[uk]=Переглядач мережевого оточення з додатковими можливостями
GenericName[x-test]=xxAdvanced Network Neighborhood Browserxx
GenericName[zh_TW]=進階網路芳鄰瀏覽器
Comment=Advanced Network Neighborhood Browser
Comment[bs]=Napredni pregledač mrežnog susjedstva
Comment[ca]=Explorador avançat de veïnatge de xarxa
Comment[cs]=Pokročilý prohlížeč síťového okolí
Comment[da]=Den avancerede browser til netværksnabolag
Comment[de]=Erweiterter Browser für die Netzwerkumgebung
Comment[en_GB]=Advanced Network Neighborhood Browser
Comment[es]=Explorador de entorno de red avanzado
Comment[et]=Täiustatud võrgunaabruse sirvija
Comment[fr]=Explorateur avancé de voisinage réseau
Comment[hu]=Speciális hálózati mappa böngésző
Comment[it]=Navigatore avanzato delle risorse di rete
Comment[ko]=고급 네트워크 환경 탐색기
Comment[nds]=Verwiedert Nettwarkümgeven-Kieker
Comment[nl]=Geavanceerde browser voor de netwerkomgeving
Comment[pl]=Zaawansowana przeglądarka otoczenia sieciowego
Comment[pt]=Navegador Avançado da Vizinhança da Rede
Comment[pt_BR]=Navegador avançado da vizinhança da rede
Comment[sk]=Pokročilý prehliadač sieťového okolia
Comment[sv]=Avancerad bläddrare för nätverksgrannskapet
Comment[tr]=Gelişmiş Ağ Komşuları Tarayıcı
Comment[uk]=Переглядач мережевого оточення з додатковими можливостями
Comment[x-test]=xxAdvanced Network Neighborhood Browserxx
Comment[zh_TW]=進階網路芳鄰瀏覽器
Exec=smb4k
Icon=smb4k
X-DocPath=smb4k/index.html
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
X-DBUS-ServiceName=de.berlios.smb4k
